<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Vue Js</title>
	<style type="text/css">
		.content{
		paddint-top:20%;
		}
		</style>
  </head>
  <body>
  <div class="container" id="app">
<ul>
   <div class="row">
	   <div class="col-md-4 content col-md-offset-4">
		   <h1 class="text-center">Bazar List</h1>
		   <hr>
		   <form v-on:submit.prevent="addItem">
			   <input v-model="newItem" class="form-control" />
			   {{ newItem }}
			   </form>
			   <hr>
		   <ul class="list-group">
			   <li v-for="item in items" class="list-group-item">
			   {{ item.name }}  -  {{ item.price }}
			   </li>
			   </ul>
		   </div>
	   </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript">
		new Vue({
   el: '#app',
   data:{
    items: [
	{name: 'rice', price: 20},
	{name: 'rice', price: 20},
	{name: 'rice', price: 20},
    ],
	newItem: ''
   },
   methods:{
	   addItem(){
		   this.items.push({
		   name:this.newItem,
		   price: 0.0
		   })
		   }
	   }
})
		</script>
  </body>
</html>